{{#data4}}
<div class="pages--container pages--container--collection">
<h2 class="pages--title"><a href="#page/{{id}}">{{title}}</a></h2>
<img class="pages--images" src="{{image}}" alt="{{title}}"></img>
<p class="pages--content">{{content}}</p>
</div>
{{/data4}}
{{^data4}}
No pages :(
{{/data4}}
